h1,h2,h3,h4{color: cadetblue;} /* *{color: cadetblue;} */

.div{color: cadetblue;}

p strong{color: cadetblue;}

h1>strong{color: red;}

li+li{
    color: cadetblue;
    font-size: 40px;
} 
/*当只有一个li的时候，所有的li标签都会变成同样的样式，如果是两个，则后两个变化，当有三个时，全部不变。*/