body{
    background-color: red;
    background-image: url("pyhthon.png");
    background-repeat: no-repeat;
    background-position: center top;
}

p{
    width: 150px;
    padding: 10px;
    background-color: #2aaaaf;
    color: aqua;
    text-align: center;
    text-indent: 5em;
}
h3{
    text-indent: 10em;
}